/*
@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 1200px) {}

font-family: 'Lora', serif; paragraph 
font-family: 'Oswald', sans-serif; Header
font-family: 'Francois One', sans-serif; menu
font-family: 'Encode Sans Condensed', sans-serif; footer link
*/

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #273b6d;
}

::selection {
    color: white; 
    background: #273b6d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    color: #273b6d;
    line-height: 1.5;
    text-transform: capitalize;
}

h1 {
    font-size: 45px;
    margin-top: 0.67em;
    margin-bottom: .67em;
}

h2 {
    font-size: 35px;
    margin-top: 0em;
    margin-bottom: 1.1em;
}

h3 {
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    font-size: 17px;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}

h5 {
    font-size: 12px;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: 11px;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

p {
    font-family: 'Lora', serif;
    line-height: 2;
    font-size: 16px;
    color: #747474;
    text-transform: capitalize;
}

.navbar-default{
    background-color: rgba(39, 59, 109,0.8);
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: transparent;
}

.navbar-default .navbar-nav li a{
    font-family: 'Francois One', sans-serif;
    text-shadow: none;
    font-size: 18px;
    color: #bdc3c7;
    transition: all 300ms;
    text-transform: capitalize;
}

.navbar-default .navbar-nav li a:hover{
    color: white;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #273b6d;
}

.navbar-default .navbar-toggle{
    -webkit-transition: all 300ms;
    transition: all 300ms;
    background-color: transparent;
    border-color: #273b6d;
    border: 2px solid #273b6d;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #16a085;
}

.ctLogo{
    margin: 5px;
}

.divOne, .divTwo, .divThree, .divFour, .divFive, .divSix, .divSeven, .divEight, .divNine{
    padding-top: 50px;
    padding-bottom: 50px;
}

.divOne{
    background-image: url(../images/sectionOneBackground-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.divOne a{
    margin-right: 15px;
    margin-left: 15px;
}

.btnCodersTrust{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    letter-spacing: .5px;
    text-transform: capitalize;
    color: white;
    background-color: #273b6d;
    padding: 15px 25px;
    border-radius: 0px;
    box-shadow: 0px 3px 5px black;
    transition: all 200ms;
}

.btnCodersTrust:hover{
    color: white;
    background-color: #16a085;
    box-shadow: 0px 5px 7px black;
}

.mainHeader{
    font-size: 55px;
    font-family: 'Acme', sans-serif;
}

i{
    color: #273b6d;
}

.divThree{
    background-color: #ecf0f1;
}

.columnDesign{
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
}

.skills{
    margin-bottom: 30px;
    display: flex;
}

.goku{
    flex-order: 1;
    background-color: #55efc4;
    flex: 3;
    display: grid;
    place-items: center;
}

.vegeta{
    flex-order: 2;
    background-color: #273b6d;
    flex: 7;
    display: grid;
    place-items: center;
}

.vegeta h3,
.vegeta p{
    color: white;
}

.divFive{
    background-color: #273b6d;
}

.divFive h2,
.divFive p{
    color: white;
}

.divSix{
    min-height: 0px;
}

.divSix img{
    transition: all 300ms;
    box-shadow: 0px 3px 7px black;
}

.divSix img:hover{
    transform: scale(1.05);
}

.divSix h3{
    border-left: 4px solid #273b6d;
    padding-left: 10px;
}

/*.divSix a{
    width: 50%;
}*/

.divSeven{
    background-color: #ecf0f1;
}

.divNine{
    min-height: 0px;
    background-color: rgba(39, 59, 109,0.9);
}

.divNine h4{
    color: whitesmoke;
    letter-spacing: .5px;
}

.divNine p{
    color: #bdc3c7;
}

.divSocial{
    min-height: 15vh;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #273b6d;
}
.divSocial h5{
    color: #ecf0f1;
    letter-spacing: .5px;
}

.divSocial i{
    color: #ecf0f1;
    transition: 100ms;
}

.divSocial i:hover{
    color: white;
    text-shadow: 0px 0px 10px;
}

.socialIcon{
    padding: 15px;
    margin: 0px 10px;
}

@media (max-width: 767px) {
    .mainHeader {
        font-size: 25px;
    }
    h3 {
        font-size: 16px;
    }

    .divOne a{
        display: block;
        margin-top: 15px;
    }

    h2{
        font-size: 25px;
    }
    .divSix a{
        width: 80%;
    }
}